.dropdown-toggle::after {
  display: none;
}
.nav-item > .nav-link {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-item.show {
  background: rgba(0, 0, 0, 0.05);
}

.profile-pic {
  width: 30px;
  height: 30px;
  background-color: #138ff1;
  border-radius: 50%;
  display: inline-block;
  padding: 3px 8px !important;
}

.dropdown-menu {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  border-color: rgba(120, 130, 140, 0.13);
}
.dropdown-menu .dropdown-item {
  padding: 7px 1.5rem;
}
ul.dropdown-user {
  padding: 0px;
}
ul.dropdown-user li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.dropdown-user li .dw-user-box {
  padding: 10px 15px;
}
ul.dropdown-user li .dw-user-box .u-img {
  display: inline-block;
  vertical-align: top;
}
ul.dropdown-user li .dw-user-box .u-img img {
  width: 100%;
  border-radius: 5px;
}

ul.dropdown-user li a {
  padding: 5px 15px;
  display: block;
  color: #2d323e;
  margin-bottom: 2px;
  font-size: 14px;
}
ul.dropdown-user li a:hover {
  background: #f1f3f9;
  color: #174a84;
  text-decoration: none;
}
