.da-div-multiple {
  border: none;
  /* font-family: "Roboto-Regular"; */
  font-size: 13px;
  color: #7b7d80;
  padding: 5px 10px;
  margin: 1px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.da-div-multiple.seleccionada {
  background: #eef1f5;
  color: #707070;
}

td {
  color: #174a84;
  vertical-align: middle;
}
