<block-ui>
  <div class="container-fluid mt-3">
    <div class="col-lg-12">
      <h2 class="font-weight-bold card--title">Reunión</h2>
      <div class="card shadow-sm mt-4">
        <div class="card-body card--contenedor">


          <div class="container-fluid">
            <div *ngIf="(Asunto.dirty || Asunto.touched) && Asunto.invalid && Asunto.errors.required"
                 class="col">
              <p class="text-danger"> Debe ingresar un valor válido.</p>
            </div>
            <div *ngIf="(Password.dirty || Password.touched) && Password.invalid && Password.errors.required"
                 class="col">
              <p class="text-danger"> Debe ingresar una descripción válida.</p>
            </div>

            <form [formGroup]="updateForm">


              <div class="form-group row">
                <label class="col-auto col-form-label" style="margin-right: 2.5rem !important;">Asunto:</label>
                <div class="col-sm-12 col-md-4">
                  <input class="form-control" formControlName="asunto" type="text">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-auto col-form-label" style="margin-right: 2.5rem !important;">Fecha:</label>
                <div class="col-sm-12 col-md-4">
                  <input formControlName="startDate"  class="form-control "
                           id="startDate"  name="startDate" type="datetime-local"/>
                </div>
              </div>


              <div class="form-group row">
                <label class="col-auto col-form-label" style="margin-right: 0.5rem !important;">Contraseña:</label>
                <div class="col-sm-12 col-md-4">
                  <input class="form-control" formControlName="password" type="text">
                </div>
              </div>

              <button (click)="onCancel();" class="btn btn-dark btn-lg mt-5 mr-4"
                      style="background-color:#174a84;" type="button">Cancelar
              </button>

              <button (click)="updateParameter();" class="btn btn-primary btn-lg mt-5" style="background-color:#007bff;"
                      type="button">Crear
              </button>
            </form>

          </div>



        </div>
      </div>
    </div>
  </div>
</block-ui>
