<div mat-dialog-content>
    <div>
        <h2 class="font-weight-bold card--title" style="color: #174a84;">{{data.title}}</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <span style="color: #73849E;white-space: pre-line;">{{data.message}} </span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6" style="text-align: left;">
            <button class="btn btn-primary mb-2" style="background-color:#174a84 ;width: 90%;" (click)="onNoClick();">
                Cerrar
            </button>
        </div>
    </div>
</div>