<block-ui>
    <div class="container-fluid mt-3">
        <div class="col-lg-12">
            <h2 class="font-weight-bold card--title">Cambiar contraseña</h2>
            <div class="card shadow-sm mt-4">
                <div class="card-body card--contenedor">
                    <div class="container-fluid">

                        <form autocomplete="off" [formGroup]="Form" class="mt-3">

                            <div class="form-group row">
                                <label for="current_password" class="col-form-label col-auto mr-4"
                                    style="color: #174A84;">Contraseña
                                    actual:</label>
                                <div class="col-md-4 col-sm-8">
                                    <input type="password" class="form-control" formControlName="_CPassword">
                                </div>
                            </div>
                            <div class="form-group row">

                                <label for="new_password" class="col-form-label col-auto"
                                    style="color: #174A84; margin-right: 6rem !important;">Nueva:</label>

                                <div class="col-md-4 col-sm-8">
                                    <input id="newPassword" class="form-control" type="password"
                                        formControlName="_NewPassword" placeholder="Nueva contraseña"
                                        [class.is-invalid]="(NewPassword.touched || NewPassword.dirty) && NewPassword.invalid" />
                                    <div class="invalid-feedback"
                                        *ngIf="(NewPassword.dirty || NewPassword.touched) && NewPassword.invalid && NewPassword.errors.required">
                                        Debe ingresar la nueva contraseña.
                                    </div>
                                    <div class="invalid-feedback"
                                        *ngIf="(NewPassword.dirty || NewPassword.touched) && NewPassword.invalid">
                                        Debe coincidir con los parámetros.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2 col-sm-0"></div>
                                <div class="col-md-6 col-sm-10"
                                    style="font-family:Roboto; font-weight: 400; font-size:12px; color: #138FF1;">
                                    <p style="margin: 0%;">La contraseña debe cumplir con los siguientes
                                        parámetros:</p>
                                    <ul style="padding-left: 5%;">
                                        <li>Debe tener una longitud mínima de 10 caracteres.</li>
                                        <li>Debe contener letras y números.</li>
                                        <li>Debe contener al menos una mayúscula.</li>
                                        <li>Debe contener al menos una minúscula.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="confirm_password" class="col-form-label col-auto"
                                    style="color: #174A84;">Confirmar
                                    contraseña:</label>
                                <div class="col-md-4 col-sm-8">
                                    <input type="password" id="confPassword" class="form-control"
                                        placeholder="Confimar contraseña" formControlName="_ConfirmationPassword"
                                        [class.is-invalid]="(ConfirmationPassword.touched || ConfirmationPassword.dirty) && ConfirmationPassword.invalid" />
                                    <div class="invalid-feedback"
                                        *ngIf="(ConfirmationPassword.dirty || ConfirmationPassword.touched) && ConfirmationPassword.invalid && ConfirmationPassword.errors.required">
                                        Debe confirmar la contraseña.
                                    </div>
                                    <div class="invalid-feedback"
                                        *ngIf="((NewPassword.dirty || NewPassword.touched)&&(ConfirmationPassword.dirty || ConfirmationPassword.touched) ) && ConfirmationPassword.invalid && ConfirmationPassword.errors.notEqual">
                                        Las contraseñas deben coincidir.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-5">
                                <div class="col-12">
                                    <label class="text-left">Al realizar el cambio de contraseña se cerrara la
                                        sesión actual.</label>
                                </div>
                            </div>
                            <div class="form-group row mt-5">
                                <div class=" col-md-6 col-sm-10 col-xl-4">
                                    <button type="button" (click)="Cancelar()" style="background-color: #174a84;"
                                        class="btn btn-primary btn-block">
                                        Cancelar
                                    </button>
                                </div>
                                <div class=" col-md-6 col-sm-10 col-xl-4">
                                    <button type="button" (click)="Change_password()" style="background-color: #138FF1;"
                                        class="btn btn-primary btn-block">
                                        Actualizar
                                    </button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</block-ui>