<block-ui>
  <div class="container-fluid login vw-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="col col-lg-4">
      <div class="card">
        <div class="card-body px-5">
          <img class="img-fluid my-4 img-fluid my-5 w-75 mx-auto d-block" src="./assets/img/logo_m-oferta.svg" alt="">

          <h3 class="card-title text-center black">
            CAMBIO DE CONTRASEÑA
          </h3>
          <p class="text-center" style="color: #2D323E">Por motivo de seguridad debe cambiar su contraseña.</p>
          <form class="py-4" autocomplete="off" [formGroup]="_Form">
            <div class="form-group">
              <input id="newPassword" class="form-control" type="password" formControlName="_NewPassword"
                placeholder="Nueva contraseña"
                [class.is-invalid]="(NewPassword.touched || NewPassword.dirty) && NewPassword.invalid" />
              <div class="invalid-feedback"
                *ngIf="(NewPassword.dirty || NewPassword.touched) && NewPassword.invalid && NewPassword.errors.required">
                Debe ingresar la nueva contraseña.
              </div>
              <div class="invalid-feedback"
                *ngIf="(NewPassword.dirty || NewPassword.touched) && NewPassword.invalid && (NewPassword.errors.minlength || NewPassword.errors.pattern)">
                Debe coincidir con los parámetros.
              </div>
            </div>
            <div class="form-group mb-3">
              <p class="text-primary mb-0">La contraseña debe cumplir con los siguientes parámetros:</p>
              <ul>
                <li class="text-primary">Debe tener una longitud mínima de 10 caracteres.</li>
                <li class="text-primary">Debe contener letras y números.</li>
                <li class="text-primary">Debe contener al menos una mayúscula.</li>
                <li class="text-primary">Debe contener al menos una minúscula.</li>
              </ul>
            </div>
            <div class="form-group">
              <input type="password" id="confPassword" class="form-control" placeholder="Confimar contraseña"
                formControlName="_ConfirmationPassword"
                [class.is-invalid]="(ConfirmationPassword.touched || ConfirmationPassword.dirty) && ConfirmationPassword.invalid" />
              <div class="invalid-feedback"
                *ngIf="(ConfirmationPassword.dirty || ConfirmationPassword.touched) && ConfirmationPassword.invalid && ConfirmationPassword.errors.required">
                Debe confirmar la contraseña.
              </div>
              <div class="invalid-feedback"
                *ngIf="((NewPassword.dirty || NewPassword.touched)&&(ConfirmationPassword.dirty || ConfirmationPassword.touched) ) && ConfirmationPassword.invalid && ConfirmationPassword.errors.notEqual">
                Las contraseñas deben coincidir.
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-primary" style="background-color:#174a84;"
                    (click)="onCancelClick();">Cancelar</button>
                </div>
                <div class="col-6 text-left">
                  <button type="button" class="btn btn-primary" style="background-color:#007bff;"
                    (click)="onChangeClick();">Actualizar</button>
                </div>
              </div>
            </div>
          </form>

          <div class="card-footer px-0 " style="text-align: center;">
            <small class="black"></small>
          </div>
        </div>
      </div>

    </div>
  </div>
</block-ui>
